@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1F1F1F;
}

.header {
    display: flex;
    align-items: center;
    background-image: url();
    background-color: #040404;
    background-attachment: fixed;
    background-position: center top;
    background-size: cover;
    min-width: 100vh;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    text-align: center;
    align-items: center;
    justify-content: space-between;
    background-color: #040404;
    position: fixed;
}

.logo {
    margin: 5px;
    font-size: 25px;
    color: skyblue;
    font-weight: 1000;
    text-transform: uppercase;
}

.menu .navbar ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.menu .navbar ul li a{
    font-size: 20px;
    padding: 20px;
    color: #FFFFFF;
    display: block;
 }

.menu .navbar ul li a:hover {
    color: skyblue;
}

.sobremi {
    display: flexbox;
    background-color: #040404;
    margin: 150px 150px 0 150px;
    border-radius: 30px;
}

.sobremi p, h1{
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0 30px;
    margin: 0 100px;
}

.sobremi img {
    width: 275px;
}

.proyectos {
    display: flexbox;
    background-color: #040404;
    margin: 30px 150px 0 150px;
    border-radius: 30px;
}

.proyectos p, h1, a{
    color: #FFFFFF;
    text-align: center;
    padding: 10px 0 30px;
    margin: 0 100px;
}

.proyectos img {
    width: 700px;
}

