@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');
* {
    margin: 0;
        padding: 0;
        box-sizing: border-box;
        text-decoration: none;
        list-style: none;
}

body {
    font-family: 'Poppins', sans-serif;
    background-color: #1F1F1F;
}

.header {
    
    background-image: url(/resourse/img/kinal.png);
    background-color: #040404;
    background-position: center top;
    background-repeat: no-repeat;
    background-size: cover;
    min-height: 100vh;
    display: flex;
    align-items: center;
}

.menu {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    left: 0;
    width: 100%;
    text-align: center;
    justify-content: space-between;
    background-color: #122562;
    position: fixed;
}

.menu .navbar ul {
    display: flex;
    list-style: none;
    justify-content: center;
}

.menu .navbar ul li a {
    font-size: 20px;
    padding: 20px;
    color: #FFFFFF;
    display: block;
}

.menu .navbar ul li a:hover {
    color: skyblue;
    color: #CDA434;
    -webkit-text-stroke: 1px #FFD700;
}

.content-1 {
    background-color: #FFFFFF;
}

.content-1 .text_text{
    font-size: 45px;
    display: flex;
    justify-content: center;
    padding: 50px;
    color: #122562;
}

hr {
    padding: auto;
    margin: 4px 100px 0 100px;
}

.content-1 p {
    color: #092890;
    margin: 10px 200px 0px 200px;
    padding: 0 0 70px;
    text-align: center;
    font-size: 20px;
    letter-spacing: normal;
}

.content-2 {
    background-color: #FFFFFF;
}

.content-group {
    display: flex;
    justify-content: space-between;
    margin: 0px 10px;
}

.content-group img{
    align-items: center;
    width: 400px;
}

.content-2 p {
    color: #1e3b9b;
}

.content-group h3 {
    font-size: 25px;
    padding: 10px;
}

.basico {
    text-align: center;
    padding: 30px 20px;
    margin: 0 30px 100px 0;
    width: 100%;
    height: 100%;
    
}

.basico h3 {
    color: #FFFFFF;
    border-radius: 100px 50% 0 50%;
    background-color: #122562;
}

.basico p {
    font-size: 18px;
    text-align: center;
}

.diver {
    text-align: center;
    padding: 22px 20px;
    margin: 0 30px 100px 0;
    width: 100%;
    height: 100%;
}

.diver p {
    font-size: 17px;
}

.escuela {
    text-align: center;
    padding: 20px 10px;
    margin: 0 30px 10px 0;
    width: 100%;
    height: 100%;
}

.escuela p {
    font-size: 17px;
}


.kinal {
    background-attachment: fixed;
        background-position: center top;
        background-repeat: no-repeat;
        background-size: cover;
        min-height: 100vh;
        display: flex;
        align-items: center;
}